body{
    background-color: #3D087B;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

#container_1{
    width: 50%;
    height: 100%;
}

#container_2{
    width: 50%;
    height: 100%;
}

#time_box{
    background-color: white;
    height: 48%;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 12%;
}

.pop_div{
    width: 70%;
    height: 50px;
    margin-left: 12%;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    background-color: #5F0089;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    text-shadow:  2px 2px 3px white;
}

.pop_div_2{
    background-color: white;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 26px;
    margin-top: -150px;
    color: #8E53F0;
    padding: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    text-shadow:  2px 2px 3px #8E53F0;
    
}


select{
width: 281px;
height: 35px;
border: 1px solid #FFFFFF;
border-radius: 4px;
}

span{
margin-left: 20px;
font: normal normal normal 18px/28px Manrope;
color: #3D087B;
margin-right: 20px;
}

#GridContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  1fr 2fr ;
    text-align: center;
    grid-gap: 10px;
}

#btn{
    height: 50px;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
    border-radius: 4px;
    color: #EDEDED;
    font-size: 20px;
    margin-left: 25%;
    grid-row:  1 / 1  ;
    font-size: larger;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

#display{
    grid-row:  1 / span 2  ;
    color: #F25CFE;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    width: 253px;
    height: 117px;
    background: #5F0089;
    border-radius: 5px;
}

.line{
    border: 0.5px solid dimgray;
    height: 30px;
    width: 0px;
    margin: 6px;
    margin-left: 15px;
}

.img{
    height: 30px;
    width: 30px;
    color: #3D087B;
}

.b1{
    width: 70%;
    height: 100px;
    background-color: white;
    border-radius: 10px;   
}

.b2{
    width: 60%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    opacity: 0.9;
    margin-left: 5%;
    bottom: 90px;
}

.b3{
    width: 50%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    opacity: 0.6;
    margin-left: 10%;
    bottom: 180px;
}

/* #pos{
    position: absolute;
    z-index: 4;
} */

/* #pos_1{
    position: absolute;
    z-index: 3;
}

#pos_2{
    position: absolute;
    z-index: 2;
}

#pos_3{
    position: absolute;
    z-index: 1;
} */


#timeText{
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 60px;
    border-radius: 3px;
    display: inline-block;
    background-color: #f2b1f9;
    color:#3D087B;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    top: 15px;
    padding: 5px;
    padding-top: 15px;
}

#hr{
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    display: inline-block;
    background-color: #F6E2FF;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    top: 15px;
    padding: 10px;
    margin-left: -1px;
}

#min{
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    display: inline-block;
    background-color: #F6E2FF;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    top: 15px;
    padding: 10px;
    margin-left: -5px;
}

#sec{
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    display: inline-block;
    background-color: #F6E2FF;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    top: 15px;
    padding: 10px;
    margin-left: -5px;
}

.colon{
    
    font-size: x-large;
    position: relative;
    z-index: 1;
    top: 25px;
    margin-left: -5px;
}

#ap{
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 70px;
    border-radius: 3px;
    display: inline-block;
    background-color: #CB52F8;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    top: 15px;
    padding-top: 20px;
    margin-left: 6px;
}


@media only screen and (min-width:380px) and (max-width:480px){
    
}







